@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    box-sizing: border-box;
    color: #FFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #181719;
    font-size: 18px;
}

.container {
    height: 100vh;
    background-color: #181719;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    padding: 0 40px;
}

.btn {
    padding: 8px;
    color: white;
    font-family: 'Crimson Pro', serif;
    font-size: 0.9rem;
    background-color: none;
    text-decoration: none;
    border: 1px solid #FFF;
    text-transform: uppercase;
    transition: .2s;
}

.logo a:hover {
    background-color: white;
    color: #181719;
}

.nav-links {
    width: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}


nav ul li a {
    flex-direction: column;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

/* Content */
.content {
    margin: 60px 0;
    padding: 40px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Content 1 */
.content-1 h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
}

.content-1 p {
    width: 310px;
    font-weight: 200;
    font-size: 1.2rem;
}

.content-1 a {
    display: flex;
    font-weight: 600;
    text-decoration: none;
}


/* Content 2 */
.content-2 {
    position: relative;
}

.content-2 img {
    width: 100%;
}

/* Card */
.card {
    position: absolute;
    right: 10px;
    bottom: -120px;
    width: 80%;
    padding: 2px 20px;
    background-color: #181719;
}

.profile {
    display: inline-block;
    width: 100%;
}

.profile img {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 50%;
    width: 60px;
}

.profile h4 {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 500;
}

.profile p {
    margin-top: -20px;
    font-size: 0.8rem;
    color: #828282;
    font-weight: 500;
}


.card h3 {
    font-family: 'Lora', serif;
    font-size: 1.6rem;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 98%;
    text-align: center;
    font-size: 0.7rem;
}

.footer p {
    color: #A9A9A9;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
}

/* Responsive Breakpoints */

/* Tablet */
@media screen and (max-width: 768px) {
    .container {
        position: relative;
        width: 100%;
        min-height: 1000px;
    }

    /* Navbar */

    nav {
        padding: 8px;
    }

    .nav-links ul {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: -30px;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background-color: #181719;
        transition: all 0.5s ease;
        transform: translateY(-110%);
        padding: 0;
    }

    .nav-links ul li {
        margin-top: 40px;
    }

    /* .nav-links Animation */
    .nav-links ul.slide {
        transform: translateY(0);
    }

    .nav-links ul a {
        padding: 30px;
    }

    /* Tablet Content */
    .content {
        padding: 0;
    }

    .content-1 {
        margin-bottom: 30px;
    }

    .card {
        box-shadow: 1px 1px 5px black;
    }

    /* Tablet Footer */
    .footer {
        position: relative;
        font-size: 0.9rem;
    }

    .footer:before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 80%;
        border-top: 1px solid #A9A9A9;
    }

    /* Hamburger */
    .menu-toggle {
        position: absolute;
        right: 20px;
        display: flex;
        height: 23px;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        z-index: 3;
    }

    .menu-toggle span {
        transition: all 0.5s ease;
        display: block;
        width: 28px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
    }

    /* Hamburger Animation */

    .menu-toggle span:first-child,
    .menu-toggle span:last-child {
        transform-origin: 0 0;
    }

    .menu-toggle.x {
        position: fixed;
        right: 28px;
    }

    .menu-toggle.x span:first-child {
        transform: rotate(45deg) translate(1px, 1px);
        /* background-color: white; */
    }

    .menu-toggle.x span:last-child {
        transform: rotate(-45deg) translate(-2px, -1px);
        /* background-color: white; */
    }

    .menu-toggle.x span:nth-child(2) {
        opacity: 0;
        transform: scale(0);
    }
}
